@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
}

body {
  background-color: #f7f8fc;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

i {
  font-size: 22px;
  cursor: pointer;
  color: #7d7d7d90;
}

i:hover {
  transform: scale(1.1);
  color: #00b9b090;
}

.container {
  background-color: #fff;
  padding: 25px;
  width: 360px;
  max-width: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 5px 20px #1ca39a30;
}

.container .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.header .content {
  line-height: 1.4;
  padding-top: 6px;
}

.header .content h3 {
  font-size: 16px;
}

.content p {
  font-size: 12px;
  color: #7d7d7d90;
}

.content small {
  font-size: 12px;
}

.container .image {
  width: 250px;
  height: 160px;
  box-shadow: 3px 5px 20px #8c9b9a90;
  margin-bottom: 30px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .ditails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.ditails .progress {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.progress .seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #e7e7e7;
  cursor: pointer;
  overflow: hidden;
}

.progress .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px #00b9b0;
}

.progress p {
  position: absolute;
  font-size: 12px;
  color: #7d7d7d;
  font-weight: bold;
}

.progress .current-time {
  left: 0;
}

.progress .song-duration-time {
  right: 0;
}

.ditails .icons {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons .play-btn {
  border-radius: 50%;
}

.icons .play-btn i {
  font-size: 45px;
  color: #949494;
}

.icons .play-btn i:hover {
  color: #00b9b090;
}

.play-btn.pause i:nth-child(1),
.play-btn i:nth-child(2) {
  display: none;
}

.play-btn.pause i:nth-child(2) {
  display: block;
}

.play-btn.pause {
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0;
  }

  50% {
    box-shadow: 0 0 0 5px #02d4db10;
  }
  
  100% {
    box-shadow: 0  0 0 5px #02d4db40;
  }
}

.container .list {
  width: 105%;
}

.list .music {
  padding: 14px 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #757c7c;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
}

.music h3 {
  font-size: 16px;
}

.music p {
  font-weight: bold;
}

.music.active {
  color: #1a1a1a;
}

.music.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #00b9b0;
}

.music:hover {
  background-color: #02c4ba20;
  box-shadow: 0 4px 20px #004ab920;
  transform: scale(1.05);
}