@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&family=Montserrat:wght@500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .1s;
  color: #051e44;
}

body {
  background-color: #d0d5e4;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

body::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  background-color: #051e44;
}

a {
  text-decoration: none;
  padding-right: 4px;
  /* pointer-events: none; */
}

.container {
  background-color: #fff;
  width: 1100px;
  height: auto;
  margin: 30px;
  padding: 60px 100px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 30px #e9eef730;
}

.container::after {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #051e44;
  position: absolute;
  top: 35%;
  left: -50px;
}

.container::before {
  content: '';
  width: 80px;
  height: 5px;
  background-color: #051e44;
  position: absolute;
  bottom: 10%;
  right: -40px;
}

.container .heading {
  padding-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

.heading h3 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

.heading h1 {
  font-size: 26px;
  font-weight: 600;
}

.container .blog {
  display: flex;
  gap: 25px;
  height: 100%;
}

.blog .left {
  width: 70%;
}

.left img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 8px;
  object-fit: cover;
}

.left .articles {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  width: 98%;
}

.left h3 {
  font-size: 18px;
  padding-bottom: 15px;
}

.left p {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  width: 100%;
}

.blog .right {
  background-color: #051e44;
  width: 30%;
  height: 420px;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 16px 10px -10px #051e4480;
}

.right h3 {
  margin-bottom: 30px;
  font-size: 18x;
  font-weight: 500;
  color: #fff;
}

.right p {
  color: #c7edfc;
  font-size: 16px;
  font-weight: 300;
}

.right .btn {
  border: 1px solid #ffffff90;
  margin-top: 50px;
}

.btn {
  color: #051e44;
  border: 1px solid #051e4460;
  background: #fff;
  padding: 10px 25px;
  font-family: inherit;
  font-weight: 600;
  border-radius: 6px;
  letter-spacing: .5px;
  cursor: pointer;
  transition: .2s;
}

.btn:hover {
  background-color: #051e44;
  color: #fff;
}

@media (max-width: 950px) {
  body {
    height: auto;
  }

  .container {
    padding: 30px;
  }

  .container .blog {
    flex-wrap: wrap;
  }

  .blog .left,
  .blog .right {
    width: 100%;
  }

  .blog .right {
    height: auto;
  }
}

@media (max-width: 600px) {
  .articles {
    /* display: flex; */
    flex-direction: column;
  }
}