@import url('https://fonts.googleapis.com/css?family=Nunito:700,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
}

body {
  background-color: #f3f5ff;
  color: #1c2b62;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  position: relative;
  width: 400px;
  max-width: 400px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 10px;
}

.card::after {
  content: '';
  position: absolute;
  width: 370px;
  height: 92%;
  background-color: #1c2b6210;
  z-index: -1;
  border-radius: 18px;
}

.card .image {
  margin-right: 1.5rem;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

.card .image::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 74px;
  height: 74px;
  background-color: #d1daff;
  border-radius: 50%;
  z-index: -1;
  transition:all .3s;
}

.image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.card .info h2 {
  font-size: 18px;
}

.info small {
  font-size: 12px;
  font-weight: bold;
}

.info .details {
  margin: 1.5rem 0;
}

.details h4 {
  margin: .5rem 0;
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 12px;
}

.details h4 img {
  width: 22px;
}

.info p {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.info .btn {
  background-color: transparent;
  border: 1px solid #1c2b6260;
  padding: 4px 12px;
  font-family: inherit;
  color: #1c2b62;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1c2b62;
  color: #fff;
}